#content {
    width: 600px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
}

h1, h3, option, button, div {
	text-align: center;
}

img {
    width: 1000px;
}

br {
    clear: left;
}